<p id="notice"><%= notice %></p>

<h1>Liste de recettes</h1>
<div class="col-lg-6">
  <table class="table table-condensed dataTable no-footer" style="width: 500px;">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Difficulté</th>
        <th>Catégorie</th>
        <th>Temps de préparation</th>
        <th>Temps de cuisson</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @recipes.each do |recipe| %>
        <% if recipe.validation %>
          <tr>
            <td><%= recipe.name %></td>
            <td><%= recipe.difficulty %></td>
            <td><%= recipe.category %></td>
            <td><%= recipe.preparation_time %></td>
            <td><%= recipe.cook_time %></td>
            <td class="text-center">
              <%= link_to recipe do %> 
              <span class="glyphicon glyphicon-eye-open" style="color:green"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <%= link_to 'Nouvelle recette', new_recipe_path %>

</div>
<script>
     
      
datatable = $("table").DataTable( {
      columnDefs: [ {
            "targets": -1,sortable: false
      } ]
} );


    yadcf.init(datatable,
        [
            {
                column_number : 0,
                column_data_type: "html",
                filter_type: "text",
                enable_auto_complete: 1,
            }, 
            {
                column_number: 1,
                filter_type: "range_number",
            },
            {
                column_number: 2,
                filter_type: "select",
                html_data_type: "text",
            },
            {
                column_number: 3,
                filter_type: "range_number",
            },
            {
                column_number: 4,
                filter_type: "range_number",
            },

        ],
        {
            cumulative_filtering: true
        }
    );
  
  
</script>