<p id="notice"><%= notice %></p>

<h1><%= @category.name %></h1>
<div class="col-lg-12">
<div class="col-lg-6">
<table class="table table-condensed datatable">
  <thead>
    <tr>
      <th>Aliments</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @category.foods.each do |food| %>
    <tr>
      <td><%= food.name %></td>
      <td class="text-center">
        <span>
        <%= link_to category_food_path(@category, food) do %> 
        <span class="glyphicon glyphicon-eye-open" style="color:green"></span>
        <% end %>
        </span>
        <%= link_to edit_category_food_path(@category, food) do %> 
        <span class="glyphicon glyphicon-edit"></span>
        <% end %>
      </span>
      <span>
        <%= link_to category_food_path(@category, food), method: :delete, data: { confirm: 'Are you sure?' } do %>
        <span class="glyphicon glyphicon-trash" style="color:red"></span>
        <% end %>
      </span>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<div class="col-lg-6">
<h3>Rechercher</h3>

<select id="select-2" name="select" multiple="true" style="    width: 100%;">
      <% @category.foods.each do |food| %>
      <option value="<%= food.name %>"><%= food.name %></option> 
    <% end %>
</select>

<p>
<%= link_to 'Ajouter un aliment', new_category_food_path(@category) %>
</p>

<p><%= link_to 'Modifier la catégorie', edit_category_path(@category) %></p>
<p><%= link_to 'Retour à la liste de catégories', categories_path %></p>
</div>